NODE_ENV=development

PORT=3000

CORS_ORIGIN=http://localhost:5173


DB_HOST=localhost
DB_PORT=5432
DB_NAME=examhub
DB_USER=examhub
DB_PASSWORD=password


JWT_SECRET=JWT_SECRET_Code

JWT_EXPIRES_IN=12h

BCRYPT_SALT_ROUNDS=10


SEED_ADMIN_EMAIL=admin@examhub.local
SEED_ADMIN_PASSWORD=change_me
SEED_ADMIN_NAME=Administrateur

SEED_STUDENT_PASSWORD=Etudiant123!
